.bottom-buttons {

  display: flex;
  flex-direction: column;
  align-items: center;

  .btn-primary {
    margin-top: 30px;
    width: 800px;    
  }
}

.particip-carousel {
  width: 1200px;
  // height: 225px;
  a {
    outline: none;
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }
}

.car-title {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.card-cont {
  height: 400px;
  width: 260px;
  margin-top: 40px;
  position: relative;
}

.card-pp {
  height: 400px;
  width: 260px;
  border-radius: 1px;
  border-style: solid;
  border-color: black;

  p {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  &:hover {
    background-color: #ff446d7e;
    .avatar {
      filter: none;
    }
  }
  h5 {
    color: rgba(0, 0, 0, 0.582);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;  
  }
}

.a-flags {
  .avatar {
    width: 100px;
  }
}

.act-avatar {
  position: absolute;
  top: -10%;
  left: 30%;
}

.bot-flag {
  width: 60px;
  position: absolute;
  bottom: 3%;
  left: 37%;
}