.sender {
  padding: 5px;
  border-radius: 50%;
  width: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.message-text {
  background-color: #ff4e7498;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 10px;

    p {
      margin-bottom: 0px;
    }

}

.message-outro {
   background-color:#98DCC3;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 10px;

    p {
      margin-bottom: 0px;
    }
}

.message-all {
  display: flex;

}

.message-sender {
  display: flex;
  justify-content: flex-end;
}

.hora {
  color: #808080;
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
}

.chatroom-body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.text-field {
  margin-top: 20px;
}

.chatroom-title {
  background-color: #F41A51;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  border-radius: 10px;
}

.chat-back {
  background-color: #ffffff;
  height: 80vh;
  padding-top: 10px;
  border-radius: 3px;
}

.link-chat {
  margin: 20px 0px;
}