.edit-content {
  margin-top: 20px;
}

.edit-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.edit-form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}