// Specific CSS for your home-page
.inputsearch {
  max-width: 450px !important;
  width: 50vh !important;
  border-radius: 20px;
  margin-left: none;
}

.container-banner {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#card-activity img {
  margin-top: -50px; }
.card-body {
  height: 350px;
  position: relative;
}
.card-all {
  margin-top: 20px;
  margin-bottom: 40px;
}
#card-activity .card:hover {
  background: #f63f6d7c;
  color: #fff; }
#card-activity .fab {
  color: #fff; }
  #card-activity .card:hover .x1 {
    color: #fff; }

.x1 {
  position: absolute;
  width: 150px;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
}
.carousel-category {
  border: solid 1px #ddd;
  padding: 10px;
}