.form-login {
    background: white;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    width: 50%;
    margin: auto;
    margin-top: 10px;
    .btn {
    width: 100%;
    margin-bottom: 20px
  } 
}
.form-inputs {
    color: #0a0a0a;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.form-actions{
    color: #0a0a0a;
    font-family: Arial, Helvetica;
    box-sizing: border-box;
}
