.new-activity {
  display: flex;
  justify-content: center;
}
.new-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-new {
  width: 100%;
}

.calendario {
  margin-right: 30px;
}

.datepicker {
  background-color: white !important;
}