<div class="category multiple-items">
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Ao ar livre") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://source.unsplash.com/random/700x700/?street)">
        <p>Ao ar livre</p>
      </div>
    <% end %>
  </div>
  <div class="carousel-category">
    <%= link_to activities_path(:category => "Natureza") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.18), rgba(0,0,0,0.18)), url(https://source.unsplash.com/random/700x700/?nature)">
        <p>Natureza</p>
      </div>
    <% end %>
  </div>