

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/700x700/?travel);">
    <div class="container">
      <h1>BORA... 
      <div id="bora"></div>
      </h1>
      <%#= link_to "Sign in", new_user_session_path, class: "btn btn-success" %>
    </div>
  </div>
