

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/700x700/?travel);">
    <div class="container-banner">
      <div class="form-inline x1">
        <div class="field">
          
        <%= form_tag activities_path, method: :get do %>
         <input name="query" type="text" id="address" class="form-control w-100 p-4 inputsearch" placeholder="🌎 Bora pra onde ?" />

        <%# submit_tag "Search", class: "btn btn-outline-light ml-1 my-sm-0" %>
        <% end %>
        </div>
      </div>
<br>
      <h1><div class="bora">BORA!</div> 
      <div id="bora">viajar</div>
      </h1>
      <%#= link_to "Sign in", new_user_session_path, class: "btn btn-success" %>
    </div>
  </div>
