<div class="container">
  
  <h4>O que os borers estão fazendo</h4>
  <div class="cards-activities">
    <div class="card-activity">
      <%= cl_image_tag('https://res.cloudinary.com/dhehnzh5i/image/upload/v1607033910/bike_v0f0k8.jpg', :size => "250x250", :crop => :fill, class: "activity-pic") %>
      <div class="card-activity-infos">
        <div>
          <h5>Passeio de bike</h5>
        </div>
      </div>
    </div>

    <div class="card-activity">
      <%= cl_image_tag('https://res.cloudinary.com/dhehnzh5i/image/upload/v1607033910/cheers_beers_gbo1xn.jpg', :size => "250x250", :crop => :fill, class: "activity-pic") %>
      <div class="card-activity-infos">
        <div>
          <h5>Tomando uns bons drinks</h5>
        </div>
      </div>
    </div>

    <div class="card-activity">
      <%= cl_image_tag('https://res.cloudinary.com/dhehnzh5i/image/upload/v1607033910/jeepsquadrado_mqnqpi.jpg', :size => "250x250", :crop => :fill, class: "activity-pic") %>
      <div class="card-activity-infos">
        <div>
          <h5>Trilha de Jeep</h5>
        </div>
      </div>
    </div>

    <div class="card-activity">
      <%= cl_image_tag('https://res.cloudinary.com/dhehnzh5i/image/upload/v1607034427/pizza_exex8a.jpg', :size => "250x250", :crop => :fill, class: "activity-pic") %>
      <div class="card-activity-infos">
        <div>
          <h5>Pizza na praça</h5>
        </div>
      </div>
    </div>
  </div>

</div>