
  <div class="cards-activities">
    <div class="card-activity">
      <%= cl_image_tag('https://res.cloudinary.com/dhehnzh5i/image/upload/v1607029135/bike_j2z9go.jpg', :size => "300x200", :crop => :fill) %>
      <div class="card-activity-infos">
        <div>
          <h5>Passeio de bike</h5>
        </div>
      </div>
    </div>

    <div class="card-activity">
      <%= cl_image_tag('https://res.cloudinary.com/dhehnzh5i/image/upload/v1607032030/cheers_ywbv1w.jpg', :size => "300x200", :crop => :fill) %>
      <div class="card-activity-infos">
        <div>
          <h5>Tomar uns bons drinks</h5>
        </div>
      </div>
    </div>

    <div class="card-activity">
      <%= image_tag('https://res.cloudinary.com/dhehnzh5i/image/upload/v1607031902/jeeps_ruslob.jpg', :size => "300x200", :crop => :fill) %>
      <div class="card-activity-infos">
        <div>
          <h5>Trilha de Jeep</h5>
        </div>
      </div>
    </div>
  </div>