
 <div class="footer">
    <h5>Follow us for more fun and happiness</h5>
    <div class='follow'>
    <ul>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
    </ul>
    </div>
  </div>