<%= render "shared/banner" %>

<div class="categories-pack">
  <%= link_to activities_path do %>
    <div class="categories-card">
      <p>Todas as categorias!</p>
    </div>
  <% end %>
</div>

<%= render "shared/carousel" %>
<br>

<%= render "shared/card_activities" %>
  

