.card-activity {
  background-color: #F4F4F4;
  margin: 10px;
  box-shadow: 0px 0px 7px #d6d6d6;
  border-radius: 7px;
}

.cards-activities {
  display: flex;
  justify-content: center;
}

.activity-pic {
  border-radius: 7px;
}