.card-category {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-position: center;

  &:hover {
    filter: brightness(60%);
  }

  p {
    margin-bottom: 0;
  }
}

.category{
  a:hover {
    text-decoration: none;
  }
}

.categories-card {
  width: 800px;
  height: 150px;
  font-size: 24px;
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), asset-url('people.jpg');
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-size: cover;
  margin: 40px auto;

  p {
    margin-bottom: 0px;
  }

  &:hover {
    filter: brightness(60%);
  }
}

.categories-pack {
  a:hover {
    text-decoration: none;
  }
}
