.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: $pink 2px solid;
  opacity: 0.9;
  z-index: 1;
  color: #54d3a4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $pink;
  &:hover {
    color: #54d3a4;
  }
}
