<div class="container">
  <h4>Avaliações de <%= @user.full_name %> </h4>
  <% if @average_rating != nil %>
  <% @reviews.each do |review| %>
  <div class="each-rating">
    <p>Anônimo</p> 
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end  %>  
    <% (5 - review.rating).times do %>
      <i class="far fa-star"></i>
    <% end  %>
    <%= review.content %>
  </div>
  <% end %>
  <% end %>
<%= link_to "Voltar", :back %>
</div>