<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for @review do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Avalie este usuário" %>
        <%= f.input :content %>
        <%= f.submit "Enviar" %>
      <% end %>
    </div>
  </div>
</div>